.block0 {
    border: 1px solid #000000;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background: #f1f1f1;
    overflow: auto;
    width: 1800px;
    height: 500px;
    box-sizing: border-box;
}

.block {
    display: inline-block;
    max-width: 400px;
    border: 1px solid #cecdcd;
    border-radius: 20px;
    background: #fab027;
    box-shadow: inset 0px 0px 50px rgb(110, 101, 60);
    box-sizing: border-box;
    margin: 5px;
    padding: 10px 30px;
}

h2 {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
}