.block1 {
    color: rgb(14, 138, 160);
    font-family: "Open Sans", sans-serif;
    font-weight: 300px;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.img {
    width=100%;
    max-width: 360px;
}
