/* общие стили:*/

body {
    font-family: "Montserrat", "Arial", sans-serif;
    background: #181E34;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #ffffff;
    list-style-type: none;
}

.container {
    /*ограничить по ширине, а не задавать строгую ширину*/
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* конкретные стили header: : ===========================*/

.header {
    padding: 30px 36px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: auto;
}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 30px;
}

.header-button {
    border-radius: 100px;
    padding: 14px 30px;
    width: 113px;
    height: 48px;
    background: #ffffff;
    color: #2766AE;
    font-weight: 500;
}

/* конкретные стили main hero:: ===========================*/
.hero {
    background: url(../img/hero-bg.jpg) 20% 50%/ cover no-repeat;
    padding: 120px 0;
}

.hero-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-inner span {
    font-weight: 700;
    text-transform: uppercase;
    color: #01a2cb;
}

.hero-text {
    max-width: 436px;
}

.paragraph {
    margin-bottom: 15px;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
}

.hero-button-one,
.hero-button-two {
    border-radius: 100px;
    padding: 18px 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.hero-button-one img,
.hero-button-two img {
    margin-left: 4px;
}

.hero-button-one {
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    margin-bottom: 10px;
}

.hero-button-two {
    background: linear-gradient(129deg, #00a4cc 0%, #2766ae 100%);
}

/* конкретные стили main card: ===========================*/

.card {
    padding: 120px 0;
}

.card-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.card-text {
    text-align: center;
    max-width: 513px;
    margin: 0 auto 60px;
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.card-flex-item {
    border: 2px solid #176bae;
    border-radius: 16px;
    padding: 28px;
    max-width: 208px;
    box-shadow: 4px 4px 13px 0 rgba(5, 13, 41, 0.76);
    background: #197cb8;
    margin-bottom: 28px;
}

.card-flex-title {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 49px;
    padding-bottom: 3px;
}

.card-button {
    display: block;
    border-radius: 100px;
    padding: 18px 30px;
    text-align: center;
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    text-align: center;
    margin: 2px auto 0;
    max-width: 436px;
}

/* конкретные стили footer: ===========================*/

.footer {
    border-top: 1px solid #323952;
    padding: 60px 0;
}

.footer-inner {
    display: flex;
}

.footer-desk {
    max-width: 267px;
    margin-right: auto;
}

.footer-desk a {
    display: inline-block;
    margin-bottom: 15px;
}

.footer-col{
max-width: 204px;
width: 100%;
}

.one {
    margin-right: 28px;
}

.footer-title {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 27px;
}

.footer-item {
    margin-bottom: 10px;
}

